In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
import re
spark = SparkSession.builder.master("local").appName("test").getOrCreate()

In [2]:
data="D:\\datasets\\bank-full.csv"
df=spark.read.format("csv").option("header","true").option("inferSchema","True").option("sep",";").load(data)
df.show(5)

+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management|married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician| single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur|married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar|married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown| single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 5 rows

In [20]:
data="D:\\datasets\\donations.csv"
sc = spark.sparkContext
# rdd= sc.textFile(data)
# skip=rdd.first
# res=rdd.map(lambda x: x != skip)
# for i in res:
#     print(i)

In [26]:
data="D:\\datasets\\donations.csv"
rdd=spark.read.format("csv").option("header","true").load(data) #creating a dataframe
rdd.createOrReplaceTempView("tab")  #creating a sql table 
df1=spark.sql("select name,dt from tab")  #querying the sql statment
df1.show()

+------+----------+
|  name|        dt|
+------+----------+
|  venu| 10-1-2021|
|  venu| 11-3-2021|
|   anu|12-12-2021|
|  venu|18-11-2021|
|venkat|10-10-2021|
|venkat| 20-9-2021|
|  venu|30-10-2021|
|   anu| 10-8-2021|
|  sita| 10-7-2020|
|  venu| 19-5-2021|
|  sita| 10-6-2021|
|  venu| 21-4-2021|
|venkat|  1-3-2021|
|  venu| 27-2-2020|
|  venu| 27-2-2021|
|  venu| 20-4-2021|
+------+----------+

In [29]:
sc = spark.sparkContext
data=[("java",20000),("scala",30000),("python",40000)]
rdd=sc.parallelize(data)
for i in rdd.collect():   #we cannot display the rdd object until some action is performed 
    print(i)

('java', 20000)
('scala', 30000)
('python', 40000)

In [2]:
sc = spark.sparkContext
data=[("java",20000),("scala",30000),("python",40000)]
rdd=sc.parallelize(data)
columns = ["language","users_count"]
dfFromRDD1 = rdd.toDF(columns)  #creating a data frame from existing rdd
dfFromRDD1.printSchema()

root
 |-- language: string (nullable = true)
 |-- users_count: long (nullable = true)

In [3]:
df=spark.createDataFrame(rdd).toDF(*columns) #creating rdd from creatdataframe and assiagning differnt column names
df.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    java|      20000|
|   scala|      30000|
|  python|      40000|
+--------+-----------+

In [8]:
data2 = [("James","","Smith","36636","M",3000), #creating the dataframe from the list and tuples
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]
columns=["fname","mname","lname","pincode","sex","salary"]
df=spark.createDataFrame(data2,columns)
df.show()

+-------+-----+--------+-------+---+------+
|  fname|mname|   lname|pincode|sex|salary|
+-------+-----+--------+-------+---+------+
|  James|     |   Smith|  36636|  M|  3000|
|Michael| Rose|        |  40288|  M|  4000|
| Robert|     |Williams|  42114|  M|  4000|
|  Maria| Anne|   Jones|  39192|  F|  4000|
|    Jen| Mary|   Brown|       |  F|    -1|
+-------+-----+--------+-------+---+------+

In [17]:
data3="D:\\datasets\\bank-full.csv"
# rdd=sc.parallize
df=spark.read.format("csv").option("header","true").load(data)
# df.show()

In [38]:
data="D:\\datasets\\bank-full.csv"
# df=spark.read.format("csv").option("header","true").option("inferSchema","True").option("sep",";").load(data)
df=spark.read.format("csv").option("header","true").option("inferSchema","true").option("sep",";").load(data)
df1=df.groupby(df["marital"]).agg(count("*"),sum("balance"),max("balance"))
df1.show()
df.printSchema()

+--------+--------+------------+------------+
| marital|count(1)|sum(balance)|max(balance)|
+--------+--------+------------+------------+
|divorced|    5207|     6138388|       66721|
| married|   27214|    38805139|       98417|
|  single|   12790|    16646155|      102127|
+--------+--------+------------+------------+

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [40]:
data="D:\\datasets\\us-500.csv"
# df=spark.read.format("csv").option("header","true").option("inferSchema","true").load(data)
df=spark.read.format("csv").option("header","true").option("inferSchema","true").load(data)
df.show()

+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
|first_name|last_name|        company_name|             address|         city|        county|state|  zip|      phone1|      phone2|               email|                 web|
+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
|     James|     Butt|   Benton, John B Jr|  6649 N Blue Gum St|  New Orleans|       Orleans|   LA|70116|504-621-8927|504-845-1427|     jbutt@gmail.com|http://www.benton...|
| Josephine|  Darakjy|Chanay, Jeffrey A...| 4 B Blue Ridge Blvd|     Brighton|    Livingston|   MI|48116|810-292-9388|810-374-9840|josephine_darakjy...|http://www.chanay...|
|       Art|   Venere| Chemel, James L Cpa|8 W Cerritos Ave #54|   Bridgeport|    Gloucester|   NJ| 8014|856-636-8749|856-264-4130|      art@venere.org|http://www.chemel...|
|     Lenna| Paprocki|Feltz Printing Se...|         639 Main St|    Anchorage|     Anchorage|   AK|99501|907-385-4412|907-921-2010|lpaprocki@hotmail...|http://www.feltzp...|
|   Donette|   Foller| Printing Dimensions|        34 Center St|     Hamilton|        Butler|   OH|45011|513-570-1893|513-549-4561|donette.foller@co...|http://www.printi...|
|    Simona|  Morasca| Chapman, Ross E Esq|        3 Mcauley Dr|      Ashland|       Ashland|   OH|44805|419-503-2484|419-800-6759|  simona@morasca.com|http://www.chapma...|
|    Mitsue|  Tollner|  Morlong Associates|           7 Eads St|      Chicago|          Cook|   IL|60632|773-573-6914|773-924-8565|mitsue_tollner@ya...|http://www.morlon...|
|     Leota| Dilliard|    Commercial Press|    7 W Jackson Blvd|     San Jose|   Santa Clara|   CA|95111|408-752-3500|408-813-1105|   leota@hotmail.com|http://www.commer...|
|      Sage|   Wieser|Truhlar And Truhl...|    5 Boston Ave #88|  Sioux Falls|     Minnehaha|   SD|57105|605-414-2147|605-794-4895| sage_wieser@cox.net|http://www.truhla...|
|      Kris|  Marrier|King, Christopher...|228 Runamuck Pl #...|    Baltimore|Baltimore City|   MD|21224|410-655-8723|410-804-4694|      kris@gmail.com|http://www.kingch...|
|     Minna|   Amigon|   Dorl, James J Esq|    2371 Jerrold Ave|   Kulpsville|    Montgomery|   PA|19443|215-874-1229|215-422-8694|minna_amigon@yaho...|http://www.dorlja...|
|      Abel|  Maclead| Rangoni Of Florence|  37275 St  Rt 17m M|Middle Island|       Suffolk|   NY|11953|631-335-3414|631-677-3675|  amaclead@gmail.com|http://www.rangon...|
|     Kiley|Caldarera|         Feiner Bros|    25 E 75th St #69|  Los Angeles|   Los Angeles|   CA|90034|310-498-5651|310-254-3084|kiley.caldarera@a...|http://www.feiner...|
|  Graciela|     Ruta|Buckley Miller & ...|98 Connecticut Av...|Chagrin Falls|        Geauga|   OH|44023|440-780-8425|440-579-7763|       gruta@cox.net|http://www.buckle...|
|     Cammy|  Albares|Rousseaux, Michae...|    56 E Morehead St|       Laredo|          Webb|   TX|78045|956-537-6195|956-841-7216|  calbares@gmail.com|http://www.rousse...|
|    Mattie| Poquette|Century Communica...| 73 State Road 434 E|      Phoenix|      Maricopa|   AZ|85013|602-277-4385|602-953-6360|      mattie@aol.com|http://www.centur...|
|   Meaghan|   Garufi|  Bolton, Wilbur Esq| 69734 E Carrillo St| Mc Minnville|        Warren|   TN|37110|931-313-9635|931-235-7959| meaghan@hotmail.com|http://www.bolton...|
|    Gladys|      Rim|T M Byxbee Compan...|322 New Horizon Blvd|    Milwaukee|     Milwaukee|   WI|53207|414-661-9598|414-377-2880|  gladys.rim@rim.org|http://www.tmbyxb...|
|      Yuki|  Whobrey|Farmers Insurance...|    1 State Route 27|       Taylor|         Wayne|   MI|48180|313-288-7937|313-341-4470|yuki_whobrey@aol.com|http://www.farmer...|
|  Fletcher|    Flosi|Post Box Services...| 394 Manchester Blvd|     Rockford|     Winnebago|   IL|61109|815-828-2147|815-426-5657|fletcher.flosi@ya...|http://www.postbo...|
+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
only showing top 20 rows

In [78]:
# ndf=df.withColumn("fullname", concat_ws("_",df.first_name, df.last_name, df.state))\
#     .withColumn("phone1",regexp_replace(col("phone1"),"-","").cast(LongType()))\
#     .withColumn("phone2",regexp_replace(col("phone2"),"-","").cast(LongType()))\
#     .drop("email","web","city","country","address")\
#     .withColumnRenamed("first_name","fname").withColumnRenamed("last_name","lname")
df2=df.drop("web","county","company_name")

# df1=df2.withColumn("fname",concat(" ",df.first_name,df.last_name))
# df1=df2.withColumn("fullname",concat_ws("_",df.first_name,df.last_name,df.state))\
#       .withColumnRenamed("first_name","fname").withColumnRenamed("last_name","lname")
ndf=df2.withColumn("fullname",concat_ws("_",df2.first_name,df2.last_name)).withColumnRenamed("first_name","fname")\
.withColumn("phone1",regexp_replace(df2.phone1,"-","")).withColumn("phone2",regexp_replace(df2.phone2,"-",""))\
.withColumn("gmail",substring_index("email","@",-1)).withColumn("gmail1",substring_index("email","@",1)).drop("zip","city","address")
ndf.show()

+---------+---------+-----+----------+----------+--------------------+-----------------+-----------+-----------------+
|    fname|last_name|state|    phone1|    phone2|               email|         fullname|      gmail|           gmail1|
+---------+---------+-----+----------+----------+--------------------+-----------------+-----------+-----------------+
|    James|     Butt|   LA|5046218927|5048451427|     jbutt@gmail.com|       James_Butt|  gmail.com|            jbutt|
|Josephine|  Darakjy|   MI|8102929388|8103749840|josephine_darakjy...|Josephine_Darakjy|darakjy.org|josephine_darakjy|
|      Art|   Venere|   NJ|8566368749|8562644130|      art@venere.org|       Art_Venere| venere.org|              art|
|    Lenna| Paprocki|   AK|9073854412|9079212010|lpaprocki@hotmail...|   Lenna_Paprocki|hotmail.com|        lpaprocki|
|  Donette|   Foller|   OH|5135701893|5135494561|donette.foller@co...|   Donette_Foller|    cox.net|   donette.foller|
|   Simona|  Morasca|   OH|4195032484|4198006759|  simona@morasca.com|   Simona_Morasca|morasca.com|           simona|
|   Mitsue|  Tollner|   IL|7735736914|7739248565|mitsue_tollner@ya...|   Mitsue_Tollner|  yahoo.com|   mitsue_tollner|
|    Leota| Dilliard|   CA|4087523500|4088131105|   leota@hotmail.com|   Leota_Dilliard|hotmail.com|            leota|
|     Sage|   Wieser|   SD|6054142147|6057944895| sage_wieser@cox.net|      Sage_Wieser|    cox.net|      sage_wieser|
|     Kris|  Marrier|   MD|4106558723|4108044694|      kris@gmail.com|     Kris_Marrier|  gmail.com|             kris|
|    Minna|   Amigon|   PA|2158741229|2154228694|minna_amigon@yaho...|     Minna_Amigon|  yahoo.com|     minna_amigon|
|     Abel|  Maclead|   NY|6313353414|6316773675|  amaclead@gmail.com|     Abel_Maclead|  gmail.com|         amaclead|
|    Kiley|Caldarera|   CA|3104985651|3102543084|kiley.caldarera@a...|  Kiley_Caldarera|    aol.com|  kiley.caldarera|
| Graciela|     Ruta|   OH|4407808425|4405797763|       gruta@cox.net|    Graciela_Ruta|    cox.net|            gruta|
|    Cammy|  Albares|   TX|9565376195|9568417216|  calbares@gmail.com|    Cammy_Albares|  gmail.com|         calbares|
|   Mattie| Poquette|   AZ|6022774385|6029536360|      mattie@aol.com|  Mattie_Poquette|    aol.com|           mattie|
|  Meaghan|   Garufi|   TN|9313139635|9312357959| meaghan@hotmail.com|   Meaghan_Garufi|hotmail.com|          meaghan|
|   Gladys|      Rim|   WI|4146619598|4143772880|  gladys.rim@rim.org|       Gladys_Rim|    rim.org|       gladys.rim|
|     Yuki|  Whobrey|   MI|3132887937|3133414470|yuki_whobrey@aol.com|     Yuki_Whobrey|    aol.com|     yuki_whobrey|
| Fletcher|    Flosi|   IL|8158282147|8154265657|fletcher.flosi@ya...|   Fletcher_Flosi|  yahoo.com|   fletcher.flosi|
+---------+---------+-----+----------+----------+--------------------+-----------------+-----------+-----------------+
only showing top 20 rows

In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
import re
spark = SparkSession.builder.master("local").appName("test").getOrCreate()

In [4]:
data3="D:\\datasets\\us-500.csv"
df=spark.read.format("csv").option("header","true").option("inferSchema","true").load(data3)
df.show()

+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
|first_name|last_name|        company_name|             address|         city|        county|state|  zip|      phone1|      phone2|               email|                 web|
+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
|     James|     Butt|   Benton, John B Jr|  6649 N Blue Gum St|  New Orleans|       Orleans|   LA|70116|504-621-8927|504-845-1427|     jbutt@gmail.com|http://www.benton...|
| Josephine|  Darakjy|Chanay, Jeffrey A...| 4 B Blue Ridge Blvd|     Brighton|    Livingston|   MI|48116|810-292-9388|810-374-9840|josephine_darakjy...|http://www.chanay...|
|       Art|   Venere| Chemel, James L Cpa|8 W Cerritos Ave #54|   Bridgeport|    Gloucester|   NJ| 8014|856-636-8749|856-264-4130|      art@venere.org|http://www.chemel...|
|     Lenna| Paprocki|Feltz Printing Se...|         639 Main St|    Anchorage|     Anchorage|   AK|99501|907-385-4412|907-921-2010|lpaprocki@hotmail...|http://www.feltzp...|
|   Donette|   Foller| Printing Dimensions|        34 Center St|     Hamilton|        Butler|   OH|45011|513-570-1893|513-549-4561|donette.foller@co...|http://www.printi...|
|    Simona|  Morasca| Chapman, Ross E Esq|        3 Mcauley Dr|      Ashland|       Ashland|   OH|44805|419-503-2484|419-800-6759|  simona@morasca.com|http://www.chapma...|
|    Mitsue|  Tollner|  Morlong Associates|           7 Eads St|      Chicago|          Cook|   IL|60632|773-573-6914|773-924-8565|mitsue_tollner@ya...|http://www.morlon...|
|     Leota| Dilliard|    Commercial Press|    7 W Jackson Blvd|     San Jose|   Santa Clara|   CA|95111|408-752-3500|408-813-1105|   leota@hotmail.com|http://www.commer...|
|      Sage|   Wieser|Truhlar And Truhl...|    5 Boston Ave #88|  Sioux Falls|     Minnehaha|   SD|57105|605-414-2147|605-794-4895| sage_wieser@cox.net|http://www.truhla...|
|      Kris|  Marrier|King, Christopher...|228 Runamuck Pl #...|    Baltimore|Baltimore City|   MD|21224|410-655-8723|410-804-4694|      kris@gmail.com|http://www.kingch...|
|     Minna|   Amigon|   Dorl, James J Esq|    2371 Jerrold Ave|   Kulpsville|    Montgomery|   PA|19443|215-874-1229|215-422-8694|minna_amigon@yaho...|http://www.dorlja...|
|      Abel|  Maclead| Rangoni Of Florence|  37275 St  Rt 17m M|Middle Island|       Suffolk|   NY|11953|631-335-3414|631-677-3675|  amaclead@gmail.com|http://www.rangon...|
|     Kiley|Caldarera|         Feiner Bros|    25 E 75th St #69|  Los Angeles|   Los Angeles|   CA|90034|310-498-5651|310-254-3084|kiley.caldarera@a...|http://www.feiner...|
|  Graciela|     Ruta|Buckley Miller & ...|98 Connecticut Av...|Chagrin Falls|        Geauga|   OH|44023|440-780-8425|440-579-7763|       gruta@cox.net|http://www.buckle...|
|     Cammy|  Albares|Rousseaux, Michae...|    56 E Morehead St|       Laredo|          Webb|   TX|78045|956-537-6195|956-841-7216|  calbares@gmail.com|http://www.rousse...|
|    Mattie| Poquette|Century Communica...| 73 State Road 434 E|      Phoenix|      Maricopa|   AZ|85013|602-277-4385|602-953-6360|      mattie@aol.com|http://www.centur...|
|   Meaghan|   Garufi|  Bolton, Wilbur Esq| 69734 E Carrillo St| Mc Minnville|        Warren|   TN|37110|931-313-9635|931-235-7959| meaghan@hotmail.com|http://www.bolton...|
|    Gladys|      Rim|T M Byxbee Compan...|322 New Horizon Blvd|    Milwaukee|     Milwaukee|   WI|53207|414-661-9598|414-377-2880|  gladys.rim@rim.org|http://www.tmbyxb...|
|      Yuki|  Whobrey|Farmers Insurance...|    1 State Route 27|       Taylor|         Wayne|   MI|48180|313-288-7937|313-341-4470|yuki_whobrey@aol.com|http://www.farmer...|
|  Fletcher|    Flosi|Post Box Services...| 394 Manchester Blvd|     Rockford|     Winnebago|   IL|61109|815-828-2147|815-426-5657|fletcher.flosi@ya...|http://www.postbo...|
+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
only showing top 20 rows

In [9]:
res=df.withColumn("age",lit("string")).drop("zip","county","city")
res.show()

+----------+---------+--------------------+--------------------+-----+------------+------------+--------------------+--------------------+------+
|first_name|last_name|        company_name|             address|state|      phone1|      phone2|               email|                 web|   age|
+----------+---------+--------------------+--------------------+-----+------------+------------+--------------------+--------------------+------+
|     James|     Butt|   Benton, John B Jr|  6649 N Blue Gum St|   LA|504-621-8927|504-845-1427|     jbutt@gmail.com|http://www.benton...|string|
| Josephine|  Darakjy|Chanay, Jeffrey A...| 4 B Blue Ridge Blvd|   MI|810-292-9388|810-374-9840|josephine_darakjy...|http://www.chanay...|string|
|       Art|   Venere| Chemel, James L Cpa|8 W Cerritos Ave #54|   NJ|856-636-8749|856-264-4130|      art@venere.org|http://www.chemel...|string|
|     Lenna| Paprocki|Feltz Printing Se...|         639 Main St|   AK|907-385-4412|907-921-2010|lpaprocki@hotmail...|http://www.feltzp...|string|
|   Donette|   Foller| Printing Dimensions|        34 Center St|   OH|513-570-1893|513-549-4561|donette.foller@co...|http://www.printi...|string|
|    Simona|  Morasca| Chapman, Ross E Esq|        3 Mcauley Dr|   OH|419-503-2484|419-800-6759|  simona@morasca.com|http://www.chapma...|string|
|    Mitsue|  Tollner|  Morlong Associates|           7 Eads St|   IL|773-573-6914|773-924-8565|mitsue_tollner@ya...|http://www.morlon...|string|
|     Leota| Dilliard|    Commercial Press|    7 W Jackson Blvd|   CA|408-752-3500|408-813-1105|   leota@hotmail.com|http://www.commer...|string|
|      Sage|   Wieser|Truhlar And Truhl...|    5 Boston Ave #88|   SD|605-414-2147|605-794-4895| sage_wieser@cox.net|http://www.truhla...|string|
|      Kris|  Marrier|King, Christopher...|228 Runamuck Pl #...|   MD|410-655-8723|410-804-4694|      kris@gmail.com|http://www.kingch...|string|
|     Minna|   Amigon|   Dorl, James J Esq|    2371 Jerrold Ave|   PA|215-874-1229|215-422-8694|minna_amigon@yaho...|http://www.dorlja...|string|
|      Abel|  Maclead| Rangoni Of Florence|  37275 St  Rt 17m M|   NY|631-335-3414|631-677-3675|  amaclead@gmail.com|http://www.rangon...|string|
|     Kiley|Caldarera|         Feiner Bros|    25 E 75th St #69|   CA|310-498-5651|310-254-3084|kiley.caldarera@a...|http://www.feiner...|string|
|  Graciela|     Ruta|Buckley Miller & ...|98 Connecticut Av...|   OH|440-780-8425|440-579-7763|       gruta@cox.net|http://www.buckle...|string|
|     Cammy|  Albares|Rousseaux, Michae...|    56 E Morehead St|   TX|956-537-6195|956-841-7216|  calbares@gmail.com|http://www.rousse...|string|
|    Mattie| Poquette|Century Communica...| 73 State Road 434 E|   AZ|602-277-4385|602-953-6360|      mattie@aol.com|http://www.centur...|string|
|   Meaghan|   Garufi|  Bolton, Wilbur Esq| 69734 E Carrillo St|   TN|931-313-9635|931-235-7959| meaghan@hotmail.com|http://www.bolton...|string|
|    Gladys|      Rim|T M Byxbee Compan...|322 New Horizon Blvd|   WI|414-661-9598|414-377-2880|  gladys.rim@rim.org|http://www.tmbyxb...|string|
|      Yuki|  Whobrey|Farmers Insurance...|    1 State Route 27|   MI|313-288-7937|313-341-4470|yuki_whobrey@aol.com|http://www.farmer...|string|
|  Fletcher|    Flosi|Post Box Services...| 394 Manchester Blvd|   IL|815-828-2147|815-426-5657|fletcher.flosi@ya...|http://www.postbo...|string|
+----------+---------+--------------------+--------------------+-----+------------+------------+--------------------+--------------------+------+
only showing top 20 rows

# 22-08-2022

In [3]:
from pyspark.sql import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master("local").appName("test").getOrCreate()
data="D:\\datasets\\donations.csv"
# df=spark.read.format("csv").option("header","true").option("inferSchema","True").option("sep",";").load(data)
df=spark.read.format("csv").option("header","true").option("inferSchema","true").load(data)
# df.show()
df.createOrReplaceTempView("tab")
res=spark.sql("select *,current_date() today from tab limit 2")
res.show()

+----+---------+------+----------+
|name|       dt|amount|     today|
+----+---------+------+----------+
|venu|10-1-2021|  1000|2022-08-24|
|venu|11-3-2021|  5000|2022-08-24|
+----+---------+------+----------+

In [ ]:
#by default date formate in spark is yyyy-mm-dd
res1=df.withColumn()